*,
*::after,
*::before{
 box-sizing: inherit;  
}

html{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
}

a{
   text-decoration: none;
   color: inherit;
}
.promo{
   width: 100vw;
   min-height: 800px;
   background: url('../images/first-bg.jpeg') center center/cover  no-repeat ;
   padding: 38px 0px 59px 0px;

}
.container{
   position: relative;
   width: 1140px;
   margin: 0 auto;
}
.logo .logo__img{
   display: block;
   margin: 0 auto;
   
}
.logo .logo__text{
color:#FFFFFF;
font-size: 15px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
text-transform: uppercase;
margin-top: 10px;
}
h1{
   margin-top: 53px;
}
.title{
color: rgb(249, 191, 59);
font-size: 41px;
font-weight: 900;
letter-spacing: 0px;
text-align: center;
text-transform: uppercase;
}
.simple .title__big{
color:#FFFFFF;
font-size: 80px;
font-weight: 900;
letter-spacing: 0px;
text-align: center;
text-transform: uppercase;
margin: 21px 0px;
}
.promo__text{
padding: 0 45px;
color:#FFFFFF;
font-size: 21px;
font-weight: 300;
line-height: 28px;
letter-spacing: 0px;
text-align: center;
margin-top: 29px;
}
.promo__text span{
   color:#F9BF3B ;
   font-weight: 700;
}
.promo__btn, .gift__btn{
display: block;
margin: 71px auto;
width: 313px;
height: 72px;
border-radius: 10px;
bottom: 179px;
box-shadow: inset 0px 0px 5px  rgba(0, 0, 0, 0.18);
border: 4px solid rgba(0, 0, 0, 0.25) ;
background: linear-gradient(
to top , #2798b9 0%,#3ab6da 100%);
cursor: pointer;
color: rgb(255, 255, 255);
font-size: 21px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
text-transform: uppercase;
outline: none;
}
.more .more__text{
color: rgb(255, 255, 255);
font-size: 15px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
text-transform: uppercase;
margin-bottom: 3px;
}
.more .more__img{
   display: block;
   margin: 0 auto;
}
.waiting{
   min-height: 607px;
   background: #EFEFEF;
   padding: 88px 0px 75px 0px;
}
.waiting .waiting__header, .finish__header{
color: rgb(37, 37, 37);
font-size: 30px;
font-weight: 400;
letter-spacing: 0px;
text-align: center;
text-transform: uppercase;
}
.finish__header{
   color: #EFEFEF;
}
.waiting .waiting__divider, .finish__divider{
   /* Разделитель */
margin: 18px auto;
width: 220px;
height: 7px;
background: #F9BF3B;
}
.waiting .waiting__subheader{
color: rgb(74, 74, 74);
font-size: 23px;
font-weight: 400;
letter-spacing: 0px;
text-align: center;
}
.waiting .waiting__wrapper{
   display: flex;
   margin: 45px auto 75px;
   justify-content: space-between;
   
}
.waiting__item{
max-width: 340px;
text-align: center;
}
.waiting__img{
   width: 100%;
}
.waiting__descr{
margin-top: 27px;
color: rgb(74, 74, 74);
font-size: 15px;
font-weight: 300;
line-height: 21px;
letter-spacing: 0px;
text-align: center;
}
.optimization{
   min-height: 550px;
   padding: 106px 0px 74px 0px;
}
.optimization .optimization__header{
margin-left: 391px;
color: rgb(41, 156, 189);
font-size: 26px;
font-weight: 900;
letter-spacing: 0px;
text-align: left;
text-transform: uppercase;
}
.optimization__text{
margin-left: 391px;
font-size: 17px;
line-height: 27px;
font-weight: 300;
letter-spacing: 0px;
text-align: left;
margin-top: 25px;
}
.optimization__text span{
   font-weight: 700;

}
.optimization__img{
   position: absolute;
   top: -61px;
   left: -240px;
   z-index: -1;
}
.finish{
   min-height: 447px;
   padding: 86px 0px 66px 0px;
   background: url('../images/second_bg.jpeg') center center/cover no-repeat;
}
.finish__wrapper{
   margin-top: 39px;
   display: flex;
   justify-content: space-between;
   text-align: center;

}
.finish__item{
 width: 204px;  
}
.finish__round{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   width: 118px;
   height: 118px;
   border-radius: 50%;
   background: #B4E2FF;
}
.finish__descr{
color: rgb(239, 239, 239);
font-size: 17px;
font-weight: 300;
line-height: 20px;
letter-spacing: 0px;
text-align: center;
margin-top: 25px;
}
.gift{
   background: #EFEFEF;

}
.gift__wrapper{
padding: 88px 0px;
min-height: 631px;
}
.gift__img{
   display: block;
   margin: 0 auto;
}
.gift__text{
   color: rgb(37, 37, 37);
   font-size: 30px;
   font-weight: 400;
   line-height: 43px;
   letter-spacing: 0px;
   text-align: center;
   margin-top: 45px;
}
.gift__btn{
   margin-top: 50px;
}
.beginning__wrapper{
   padding-top: 81px;
   min-height: 433px;    
}
.beginning__img{
   display: block;
   margin: 0 auto;
}
.beginning__poster{
   color: rgb(37, 37, 37);
   font-size: 30px;
   font-weight: 400;
   letter-spacing: 0px;
   text-align: center;
   text-transform: uppercase;
   margin-top: 36px;
}
.beginning__time{
   color: rgb(41, 156, 189);
   font-size: 36px;
   font-weight: 900;
   letter-spacing: 0px;
   text-align: center;
   text-transform: uppercase;
   margin-top: 30px;
}
.beginning__warning{
   color: rgb(74, 74, 74);
   font-size: 23px;
   font-weight: 400;
   letter-spacing: 0px;
   text-align: center;
   margin: 25px 0px 52px 0px;
}

.official-information{   
   background-color: #1A1A1A;
   min-height: 169px;
   color: rgb(136, 136, 136);
   font-size: 15px;
   font-weight: 300;
   line-height: 21px;
   letter-spacing: 0px;
   text-align: center;  
}
.support__wrapper{
   padding-top: 59px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: underline;   
}
.vertical-line{
    display: inline;
    height: 15px;
    border-left: 1px solid ;
    margin: 0 5px;
}
